data/voice
data/voice_wav
data/~$guitar.xlsx
data/145 Guitar Instrumentals Scored In Functional Chord Names & Actual Chord Names _ Scored By Dapo Olanipekun_March 2022.xlsx
data/guitar.xlsx
data/guitar.txt
src/test.py